#app {
  .sidebar-container {
    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }
  .hidden-sidebar {
    .el-submenu {
      overflow: hidden;

      .el-submenu__icon-arrow {
        display: none;
      }
      .el-submenu__title span {
        display: none;
      }
    }
  }
}
